{% extends "base.html.twig" %}

{% block body %}
	<div class="wrapper-container">
		<div class="wrapper">

			<div class="header">
				<h1 class="header__title">Bienvenue sur le Pokédex !</h1>
				<img class="header_img" src="{{ asset("img/25.png") }}" alt="image-pikachu">
			</div>

			<section class="menu">
				<li class="menu_list">
					<a href="{{ path('app_pokemon_list') }}">
						<img src="{{ asset("img/others-img/pokeball2-.png") }}" alt="pokeball">
						<h2 class="menu_item">Liste</h2>
					</a>
				</li>
				<li class="menu_list">
					<a href="{{ path('app_type_list') }}">
						<img src="{{ asset("img/others-img/pokeball2-.png") }}" alt="pokeball">
						<h2 class="menu_item">Types</h2>
					</a>
				</li>
				<li class="menu_list">
					<a href="#">
						<img src="{{ asset("img/others-img/pokeball2-.png") }}" alt="pokeball">
						<h2 class="menu_item">Comparateur (Work in progress)</h2>
					</a>
				</li>
				<li class="menu_list">
					<a href="{{path('app_main_credits')}}">
						<img src="{{ asset("img/others-img/pokeball2-.png") }}" alt="pokeball">
						<h2 class="menu_item">Crédits</h2>
					</a>
				</li>
			</section>
		</div>
	</div>
{% endblock %}
