{% extends "base-2.html.twig" %}

{% block body %}

<section class="pokemon__list">

    {# {{dump(pokemonApi)}} #}

    {% for pokemon in pokemonApi %}

        <article class="pokemon">
            <a class="pokemon__link" href="{{ path('app_pokemon_details', {id: pokemon.id}) }}">
                <img class="pokemonImg" src="{{pokemon.image}}" alt="image-{{pokemon.name}}">
                <p class="pokemon__name">#{{pokemon.pokedexId}} {{pokemon.name}}</p>
            </a>
        </article>


   {% endfor %}
</section>

{% endblock %}
